.cq-gauge {
  height: 200px;
  box-sizing: initial;
}
.cq-gauge__container {
  width: 200px;
  height: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.cq-gauge__semicircle {
  top: 100px;
  width: 200px;
  height: 100px;
  position: absolute;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform-origin: top;
  transition: transform 0.5s linear;
}
.cq-gauge__semicircle--in-motion-1 {
  background-color: #FF6347;
  transform: rotate(0deg);
  z-index: 1;
}
.cq-gauge__semicircle--in-motion-2 {
  background-color: #FF6347;
  transform: rotate(0deg);
  z-index: 2;
}
.cq-gauge__semicircle--fixed {
  background-color: #FFFFFF;
  border: 1px solid white;
  z-index: 3;
}
.cq-gauge__inner-area {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 100%;
  text-align: center;
  z-index: 999;
}
.cq-gauge__label {
  padding-top: 6%;
  font-family: verdana;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
.cq-gauge__controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-top: 8px;
}
.cq-gauge__button {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #717a90;
  color: #FFFFFF;
  font-size: 1.3em;
}

.cf-page .cf-question__content :focus {
  outline: #0050ff solid 2px;
  outline-offset: 4px;
}
