.custom-question--gauge {
  width: 200px;
  height: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.custom-question--gauge__semicircle {
  top: 100px;
  width: 200px;
  height: 100px;
  position: absolute;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transform-origin: top;
  transition: transform 0.5s linear;
}
.custom-question--gauge__semicircle--in-motion-1 {
  background-color: #FF6347;
  transform: rotate(0deg);
  z-index: 1;
}
.custom-question--gauge__semicircle--in-motion-2 {
  background-color: #FF6347;
  transform: rotate(0deg);
  z-index: 2;
}
.custom-question--gauge__semicircle--fixed {
  background-color: #FFFFFF;
  border: 1px solid white;
  z-index: 3;
}
.custom-question--gauge__inner-area {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 100%;
  text-align: center;
  z-index: 999;
}
.custom-question--gauge__label {
  padding-top: 6%;
  font-family: verdana;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}
